<form action="/restaurants" method="POST">
  Restaurant name:<br>
  <input type="text" name="name"><br>
  Address:<br>
  <input type="text" name="address"><br>
  Type of Food:<br>
  <input type="text" name="type_of_food"><br>
  Capacity:<br>
  <input type="text" name="capacity"><br>
  Rating:<br>
  <input type="text" name="rating">
  <input type="submit" value="Submit">
</form>
